<div class="employee">
<div class="one">
    <form [formGroup]="employeeRef" (ngSubmit)="storeemployee()" >
        <label > ID </label>
        <div class="form-group">
            <input type="number" placeholder="Enter Product Id" formControlName="id"/>
        </div>
        <label >First_name</label>
        <div class="form-group">
            <input type="text" placeholder="Enter your First name" formControlName="first_name" >
        </div>
        <label >Last_name</label>
        <div class="form-group">
            <input type="text" placeholder="Enter your last t name" formControlName="last_name" >
        </div>
        <label >Email</label>
        <div class="form-group">
            <input type="text" placeholder="Enter your Email Id " formControlName="email" >
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Add employee"  >
        </div>
    
    </form>
</div>

    <table border="1" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>First_Name</th>
                <th>Last_name</th>
                <th>Email</th>
                <th>View Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.id}}</td>
                <td>{{employee.first_name}}</td>
                <td>{{employee.last_name}}</td>
                <td>{{employee.email}}</td>
                <td><input type="button" value="View Details" (click)="viewDetails(employee)"></td>
                
                
        </tr>
        </tbody>
    </table>

</div>
