<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Developabackendadmin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrainerController</display-name>
    <servlet-name>TrainerController</servlet-name>
    <servlet-class>com.controller.TrainerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainerController</servlet-name>
    <url-pattern>/TrainerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentsController</display-name>
    <servlet-name>StudentsController</servlet-name>
    <servlet-class>com.controller.StudentsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentsController</servlet-name>
    <url-pattern>/StudentsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectsController</display-name>
    <servlet-name>SubjectsController</servlet-name>
    <servlet-class>com.controller.SubjectsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectsController</servlet-name>
    <url-pattern>/SubjectsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassesService</display-name>
    <servlet-name>ClassesService</servlet-name>
    <servlet-class>com.service.ClassesService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassesService</servlet-name>
    <url-pattern>/ClassesService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassesController</display-name>
    <servlet-name>ClassesController</servlet-name>
    <servlet-class>com.controller.ClassesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassesController</servlet-name>
    <url-pattern>/ClassesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTrainerandStudents</display-name>
    <servlet-name>ViewTrainerandStudents</servlet-name>
    <servlet-class>com.controller.ViewTrainerandStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTrainerandStudents</servlet-name>
    <url-pattern>/ViewTrainerandStudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignTrainertoSubjectController</display-name>
    <servlet-name>AssignTrainertoSubjectController</servlet-name>
    <servlet-class>com.controller.AssignTrainertoSubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignTrainertoSubjectController</servlet-name>
    <url-pattern>/AssignTrainertoSubjectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTrainerandSubjects</display-name>
    <servlet-name>ViewTrainerandSubjects</servlet-name>
    <servlet-class>com.controller.ViewTrainerandSubjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTrainerandSubjects</servlet-name>
    <url-pattern>/ViewTrainerandSubjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignTrainertoStudentController</display-name>
    <servlet-name>AssignTrainertoStudentController</servlet-name>
    <servlet-class>com.controller.AssignTrainertoStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignTrainertoStudentController</servlet-name>
    <url-pattern>/AssignTrainertoStudentController</url-pattern>
  </servlet-mapping>
</web-app>